# Github repo: https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties#indent_style

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = unset
insert_final_newline = true
trim_trailing_whitespace = true

[*.feature]
indent_style = space
indent_size = 4

# Tab indentation with a size of 2 spaces for TypeScript and JavaScript files
[*.{ts,tsx,js,jsx}]
indent_style = tab
indent_size = 4

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = tab
indent_size = 2
