node_modules
.DS_Store
screenshots
videos
cypress.env.json
cucumber-json
reports
.run
downloads
runner-results
multi-reporter-config.json
cucumber-html-report.js

.project
.settings
.idea
*.log
logs
secrets
*.swp
.zshrc
test-run-details.json
cypress/fixtures/test-run-details.json
env_variables/*.env.json
env_variables/*
!env_variables/devClusterTemplate.env.json
!env_variables/stagingTemplate.env.json