name: e2e-automatic-trigger-tests
on: [push]

jobs:
  e2e-system-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Checkout
        uses: actions/checkout@v3

  configuring-loading-secrets-running-tests:
    needs: e2e-system-tests
    uses: ./.github/workflows/main.yml
    secrets:
      service-account-token: ${{ secrets.CYPRESS_ONEPWD_SERVICE_ACCOUNT_TOKEN }}
    with:
      cypress_brb: https://main.brb.dbildungscloud.dev
      cypress_dbc: https://main.dbc.dbildungscloud.dev
      cypress_nbc: https://main.nbc.dbildungscloud.dev
      tag: cy:headless:stable:regression_test:school_api_test:ci
      environment: dev
      groups: automatic
