name: e2e-remote-trigger-tests
on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      repo:
        required: false
        type: string
        default: "default"
    secrets:
      service-account-token:
        required: true

jobs:
  e2e-system-tests:
    runs-on: ubuntu-latest
    outputs:
      cypress_brb: ${{ steps.set_target.outputs.CYPRESS_BRB }}
      cypress_nbc: ${{ steps.set_target.outputs.CYPRESS_NBC }}
      cypress_dbc: ${{ steps.set_target.outputs.CYPRESS_DBC }}
      environment: ${{ steps.set_target.outputs.environment }}
      all_pr_tests_tag: ${{ steps.set_target.outputs.all_pr_tests_tag }}
    steps:
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: check local branch
        id: check_branch
        run: |
          check_cypress_branch=$(git ls-remote --heads "https://github.com/hpi-schul-cloud/e2e-system-tests.git" ${{ inputs.ref }})
          if [[ -z ${check_cypress_branch} ]]; then
            echo "LOCAL_BRANCH_EXISTS=false" >> "$GITHUB_OUTPUT"
          else
            echo "LOCAL_BRANCH_EXISTS=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Checkout main
        if: steps.check_branch.outputs.LOCAL_BRANCH_EXISTS == 'false'
        uses: actions/checkout@v4
        with:
          repository: hpi-schul-cloud/e2e-system-tests
          path: e2e-system-tests

      - name: Checkout branch
        if: steps.check_branch.outputs.LOCAL_BRANCH_EXISTS == 'true'
        uses: actions/checkout@v4
        with:
          repository: hpi-schul-cloud/e2e-system-tests
          ref: ${{ inputs.ref }}
          path: e2e-system-tests

      - name: Set target
        id: set_target
        shell: bash
        run: |
          branch_name=${{ inputs.ref }}
          echo "input branch name: $branch_name"

          # This cleaning of the branch name needs to be done the same way as in deployment.
          # Currently done in https://github.com/hpi-schul-cloud/dof_app_deploy/blob/main/.github/workflows/clean_workflow.yml
          cleaned_branch_name=$(echo $branch_name | sed 's@.*/@@' | tr [A-Z] [a-z] | tr _ - | tr \. -)
          echo "cleaned branch name: $cleaned_branch_name"

          echo "CYPRESS_BRB=https://${cleaned_branch_name}.brb.dbildungscloud.dev" >> $GITHUB_OUTPUT
          echo "Set CYPRESS_BRB=https://${cleaned_branch_name}.brb.dbildungscloud.dev"

          echo "CYPRESS_NBC=https://${cleaned_branch_name}.nbc.dbildungscloud.dev" >> $GITHUB_OUTPUT
          echo "Set CYPRESS_NBC=https://${cleaned_branch_name}.nbc.dbildungscloud.dev"

          echo "CYPRESS_DBC=https://${cleaned_branch_name}.dbc.dbildungscloud.dev" >> $GITHUB_OUTPUT
          echo "Set CYPRESS_DBC=https://${cleaned_branch_name}.dbc.dbildungscloud.dev"

          if [[ ! $CYPRESS_BRB =~ (staging|schulportal) && ! $CYPRESS_DBC =~ (staging|schulportal) && ! $CYPRESS_NBC =~ (staging|schulportal) ]]; then
              echo "environment=dev" >> $GITHUB_OUTPUT
          else
              echo "environment=ref" >> $GITHUB_OUTPUT
          fi

          case "${{ inputs.repo }}" in
            "file-storage")
              echo "Detected repo: file-storage"
              echo "all_pr_tests_tag=@file_storage and @stable_test and @school_api_test" >> $GITHUB_OUTPUT
              ;;
            *)
              echo "Detected repo: default"
              echo "all_pr_tests_tag=@stable_test and @school_api_test and @pr" >> $GITHUB_OUTPUT
              ;;
          esac

      - name: Check if all apps are running
        shell: bash
        run: |
          check_availability () {
            delay=10
            max_tries=30
            tries=0

            until [ $tries -ge $max_tries ] || curl -sf $1 | jq '."services-unavailable"' | grep false > /dev/null; do
              echo "$1 says apps are not running. Try again in $delay seconds."
              tries=$((tries+1))
              sleep $delay
            done

            if [ $tries -ge $max_tries ]; then
              echo "Terminated checking $1 after $tries tries without success."
              echo "Exit job."
              exit 1
            else
              echo "$1 says apps are running."
            fi
          }

          check_availability ${{ steps.set_target.outputs.cypress_brb }}/version
          check_availability ${{ steps.set_target.outputs.cypress_nbc }}/version
          check_availability ${{ steps.set_target.outputs.cypress_dbc }}/version

  run-remote-repo-tests:
    needs: e2e-system-tests
    uses: ./.github/workflows/main.yml
    secrets:
      service-account-token: ${{ secrets.service-account-token }}
    strategy:
      fail-fast: false
      matrix:
        group:
          ["group-A", "group-B", "group-C", "group-D", "group-E", "group-F"]
    with:
      cypress_brb: ${{ needs.e2e-system-tests.outputs.cypress_brb }}
      cypress_nbc: ${{ needs.e2e-system-tests.outputs.cypress_nbc }}
      cypress_dbc: ${{ needs.e2e-system-tests.outputs.cypress_dbc }}
      browser: chrome
      tag: >-
        ${{ format('"{0} and @{1}"', needs.e2e-system-tests.outputs.all_pr_tests_tag, matrix.group ) }}
      environment: ${{ needs.e2e-system-tests.outputs.environment }}
      groups: ${{ format('{0}-{1}', 'remote-trigger-pr-tagged-tests', matrix.group) }}

  cypress-tests-successful:
    needs:
      - run-remote-repo-tests
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Check cypress test result
        run: |
          # github sometimes treats skipped as success, so enforce failures here
          if [[ "${{ needs.run-remote-repo-tests.result }}" != "success" ]]; then
            echo "Cypress tests failed or were skipped"
            exit 1
          fi
          echo "Cypress tests were successful"
